<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GimnasioPro/contacto</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css">
    <link rel="stylesheet" href="../css/Estilos.css">
</head>
<body>
    <header>
        <nav id="nav">
            <img id="logo" src="../assets/img/icono.jpg" alt="Logo de empresa" width="100" height="100">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="../Views/Galeria.html">Galeria</a></li>
                <li><a href="../Views/Presupuesto.html">Presupuesto</a></li>
                <li><a href="../Views/Contacto.html" class="active">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <!--Datos de contacto-->
        <div id="datosContacto">
            <h1>Datos de contacto</h1>
            <p>¿Tienes alguna duda o quieres contactar con nosotros? Aquí tienes nuestros datos de contacto.</p>
            <p><strong>Correo electrónico:</strong> <a href="mailto:GymPro@gmail.com">GymPro@gmail.com</a></p>
            <p><strong>Teléfono:</strong> <a href="tel:666999333">666999333</a></p>
            <p><strong>Dirección:</strong> Avenida General 3</p>
        </div>
        <!--Div para el mapa-->
        <div id="mapa">
        </div>
    </main>
    <footer id="footer">
        <a href="/Contacto.html"><img src="../assets/img/contact-mail.png" alt="contacto"><p>Contacto</p></a>
         <a href="Views/Galeria.html"><img src="../assets/img/image-galery.png" alt="galeria"><p>Galeria</p></a>
         <a href="Views/Presupuesto.html"> <img src="../assets/img/contact-form.png" alt=""><p>Presupuesto</p></a>
         <p class="copyright">©Todos los derechos de imagen están reservados</p>
     </footer>
     <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>
     <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
     <script src="../js/Script.js"></script>
 </body>
 </html>