<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GimnasioPro/galeria</title>
    <link rel="stylesheet" href="../css/Estilos.css">
    <link rel="stylesheet" href="../css/lightbox.css">
</head>
<body>
    <header>
        <nav id="nav">
            <img id="logo" src="../assets/img/icono.jpg" alt="Logo de empresa" width="100" height="100">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="../Views/Galeria.html" class="active">Galeria</a></li>
                <li><a href="../Views/Presupuesto.html">Presupuesto</a></li>
                <li><a href="../Views/Contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <!--Div para la galería dinámica de 12 imágenes-->
        <div id="galeriaDinamica">
            <h1>Nuestra galería</h1>
            <a href="../assets/img/GaleriaDinamica/adult-1850925_1280.jpg" data-lightbox="galeria1" data-title="Press de pierna"><img class="imgGal" src="../assets/img/GaleriaDinamica/adult-1850925_1280.jpg" alt="ejercicioPierna"></a>
            <a href="../assets/img/GaleriaDinamica/adult-1867743_1280.jpg" data-lightbox="galeria1" data-title="Musculatura"><img class="imgGal" src="../assets/img/GaleriaDinamica/adult-1867743_1280.jpg" alt="Musculatura"></a>
            <a href="../assets/img/GaleriaDinamica/ai-generated-8703064_1280.jpg" data-lightbox="galeria1" data-title="GeneradoIa"><img class="imgGal" src="../assets/img/GaleriaDinamica/ai-generated-8703064_1280.jpg" alt="generadoIa"></a>
            <a href="../assets/img/GaleriaDinamica/gym-8108019_1280.png" data-lightbox="galeria1" data-title="Gimnasio"><img class="imgGal" src="../assets/img/GaleriaDinamica/gym-8108019_1280.png" alt="gimnasio"></a>
            <a href="../assets/img/GaleriaDinamica/man-4245628_1280.jpg" data-lightbox="galeria1" data-title="Modelo 1"><img class="imgGal" src="../assets/img/GaleriaDinamica/man-4245628_1280.jpg" alt="Modelo1"></a>
            <a href="../assets/img/GaleriaDinamica/woman-2573216_1280.jpg" data-lightbox="galeria1" data-title="Modelo2"><img class="imgGal" src="../assets/img/GaleriaDinamica/woman-2573216_1280.jpg" alt="Modelo2"></a>
            <a href="../assets/img/GaleriaDinamica/yoga-5321354_1280.jpg" data-lightbox="galeria1" data-title="ModeloYoga1"><img class="imgGal" src="../assets/img/GaleriaDinamica/adult-1850925_1280.jpg" alt="ModeloYoga1"></a>
            <a href="../assets/img/GaleriaDinamica/yoga-6723315_1280.jpg" data-lightbox="galeria1" data-title="ModeloYoga2"><img class="imgGal" src="../assets/img/GaleriaDinamica/yoga-6723315_1280.jpg" alt="ModeloYoga2"></a>
            <a href="../assets/img/GaleriaDinamica/gym-595597_1280.jpg" data-lightbox="galeria1" data-title="Gimnasio1"><img class="imgGal" src="../assets/img/GaleriaDinamica/gym-595597_1280.jpg" alt="ModeloYoga2"></a>
            <a href="../assets/img/GaleriaDinamica/gym-5977600_1280.jpg" data-lightbox="galeria1" data-title="Gimnasio"><img class="imgGal" src="../assets/img/GaleriaDinamica/gym-5977600_1280.jpg" alt="ModeloYoga2"></a>
            <a href="../assets/img/GaleriaDinamica/weightlifting-5730110_1280.jpg" data-lightbox="galeria1" data-title="modeloLift1"><img class="imgGal" src="../assets/img/GaleriaDinamica/weightlifting-5730110_1280.jpg" alt="ModeloYoga2"></a>
            <a href="../assets/img/GaleriaDinamica/girl-3253532_1280.jpg" data-lightbox="galeria1" data-title="Modelobox"><img class="imgGal" src="../assets/img/GaleriaDinamica/girl-3253532_1280.jpg" alt="ModeloYoga2"></a>
        </div>
    </main>
    <footer id="footer">
        <a href="/Contacto.html"><img src="../assets/img/contact-mail.png" alt="contacto"><p>Contacto</p></a>
        <a href="Views/Galeria.html"><img src="../assets/img/image-galery.png" alt="galeria"><p>Galeria</p></a>
        <a href="Views/Presupuesto.html"> <img src="../assets/img/contact-form.png" alt=""><p>Presupuesto</p></a>
        <p class="copyright">©Todos los derechos de imagen están reservados</p>
    </footer>
<script src="../js/lightbox-plus-jquery.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../js/Script.js"></script>
</body>
</html>